<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Linkfit</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>az</string>
		<string>ru</string>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>API_BASE_URL</key>
	<string>$(API_BASE_URL)</string>
	<key>SENTRY_DSN</key>
	<string>$(SENTRY_DSN)</string>
	<key>POSTHOG_API_KEY</key>
	<string>$(POSTHOG_API_KEY)</string>
	<key>GOOGLE_CLIENT_ID</key>
	<string>$(GOOGLE_CLIENT_ID)</string>
	<key>CERT_PINS</key>
	<string>$(CERT_PINS)</string>
</dict>
</plist>
